<form [formGroup]="reservationForm">
    <!-- on associe le formgroup déclaré dans reservation.component -->
    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <!-- formControlName mis a dispo avec ReactiveFormsModule de app.module et lié au date dans createForm du reservation.component -->
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="date"></mat-datepicker>
    </mat-form-field>
</form>

